/**
# This file is part of Galette.
#
# Galette is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Galette is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see https://www.gnu.org/licenses/
*/
@charset "utf-8";
@use 'sass:color';

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-regular-webfont.woff2') format('woff2'),
         url('fonts/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-bold-webfont.woff2') format('woff2'),
         url('fonts/ptsans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/ptsans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-italic-webfont.woff2') format('woff2'),
         url('fonts/ptsans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

$base-font-family:  PtSans, Arial, sans-serif !default;
$base-font-size:    14px !default;
$base-font-weight:  400 !default;
$small-font-size:   $base-font-size * 0.875 !default;
$big-font-size:     $base-font-size * 1.125 !default;
$base-line-height:  1.4em !default;

$text-color:        #6b6b6b !default;
$light-text-color:  #fff !default;
$background-color:  #636B70 !default;
$galette-orange:    #ffb619 !default;
$galette-grey:      #e6e6e6 !default;
$action-color:      #279ac4 !default;

$galette-light-orange: color.adjust($galette-orange, $lightness: 20%) !default;
$galette-dark-orange:  color.adjust($galette-orange, $lightness: -15%) !default;
$galette-blue:      #0486b5 !default;
$galette-light-grey:   color.adjust($text-color, $lightness: 20%) !default;

$galette-max-width: 1024px;
$content-width:    800px !default;
$sidebar-width:    200px !default;

$galette-large:     767px !default;
$galette-large-lang: 1080px !default; //lang selector is placed on the side.

$release-color: $galette-blue !default;
$sponsored-color: green !default;
$rc-color: $galette-dark-orange !default;

// F**k partials.
/*@import
  "galette/normalize",
  "galette/base",
  "galette/layout",
  "galette/toc",
  "galette/mobilemenu",
  "galette/home",
  "galette/share"
;*/

/** _normalize.scss
    ========================================================================== */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* End of normalize.scss */

/** _base.scss
    ========================================================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $background-color url(img/bg.png) top left no-repeat;

  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

section#content {
  h2, h3, h4, h5, h6 {
    border-bottom: 1px dotted $galette-blue;
    display: inline-block;

    a {
      color: $text-color;

      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }

  .home .post-content h2:first-of-type {
    color: $galette-blue;
    border-bottom: none;
  }
}

img {
  max-width: 100%;
}

a {
  color: $action-color;
  text-decoration: none;
  cursor: hand;

  &:hover, &:active, &:focus {
    color: #708FAB;
    text-decoration: underline;
  }

  img {
    border: none;
  }
}

pre {
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
}

code, kbd, samp {
  font-size: $small-font-size;
  background: rgba(0, 0, 0, .1);
  padding: .1em .2em;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.tag {
  font-size: $small-font-size;
  display: inline-block;
  padding: .2em .5em;
  background-color: $galette-light-grey;
  color: $light-text-color;

  &.release {
    background-color: $release-color;
  }

  &.rc {
    background-color: $rc-color;
  }

  &.sponsored {
    background-color: $sponsored-color;
  }
}

svg.orange {
  fill: $galette-orange;

  &:hover {
    fill: $galette-dark-orange;
  }
}

a:hover svg.orange {
  fill: $galette-dark-orange;
}

.social-media-list a {
  margin: 0 .5em;
}

.social-media-list svg, .social-media-list img, .rss-subscribe svg {
  width: 20px;
  height: 18px;
  vertical-align: middle;
  padding-right: .2em
}

aside#sidebar .rss {
  margin-top: 1em;
}

.post-meta {
  margin: 0;
}

.post-content pre, .post-excerpt pre {
  padding: 0 1em;
  font: 1em 'courier new', courier, monospace;
  border: 1px dashed #C4C4C4;
  color: #666;
  overflow: auto;
  background-color: #EEFFCC;
}

.footnotes {
  border-top: 1px solid $galette-grey;
  background: rgba(0, 0, 0, .1);
  padding: .5em;

  ol, p {
    margin: 0;
  }

  ol {
    padding-left: 1.2em;
  }
}

/** Galette BOX */
aside#galette {
  align-self: flex-start;
  background:rgba(#000, 0.1);
  border-radius:5px;
  padding: .3em;
  margin: 0 0 0 auto;
  position: relative;
  width: 100%;

  ul {
    margin:0;
    padding:0;
    list-style:none;
    background:$galette-orange;
    background: linear_gradient(#77B9FB, #3782CD);
    border-radius:5px;
    box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1;
      border-right:1px solid $galette-dark-orange;
      border-left:1px solid $galette-light-orange;

      &:hover {
        background-color: $galette-dark-orange;
      }
    }

    li:first-child {
      border-left: none;
      border-radius: 5px 0 0 5px;
    }

    li:last-child {
      border-right:none;
      border-radius: 0 5px 5px 0;
    }

    a {
      white-space: nowrap;
      color:#fff;
      color:rgba(#fff, 0.8);
      display:block;
      text-align:center;
      font-weight:400;
      padding: .2em 1.3em;
      text-decoration: none;

      strong {
        display: block;
        font-size: $big-font-size;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}

@media screen and (min-width: $galette-large) {
  aside#galette {
    flex: unset;
    width: auto;
  }
}

/* End of base.scss */

/** _layout.scss
    ========================================================================== */

/** main header */
$galette-header-h: 100px !default;
body > header:first-child {
  position: relative;
  height: $galette-header-h;
  width: auto;
  padding: 0;
  margin: 0 auto;

  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    margin: 0;

    a {
      color: $light-text-color;;
      text-decoration: none;
      display: inline-block;
      width: 208px;
      height: $galette-header-h;
      background: url(img/galette.png) top left no-repeat;
      text-indent: 210px;
      overflow: hidden;
    }
  }
}

/** Page contents */
body > section.wrapper {
  max-width: $galette-max-width;
  margin: 0 auto;
  background: #fff;
  padding: 2em;

  > header {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }

  header {
    h1 {
      display: inline-block;
      border-bottom: 1px solid $galette-orange;
      line-height: 1.2em;
      margin: .1em 0;
    }
  }
}

section#content {
  grid-column: 1;
  grid-row: 2;

  p {
    text-align: justify;
  }

  .post-content a, .home > main a {
    text-decoration: underline;
  }

  h1 {
  }

  h2.post-title {
    margin: .4em 0
  }
}

.langselector {
  display: flex;

  a {
    display: block;
    padding: .1em .2em;

    &.active {
      border-bottom: 1px solid $galette-orange;
    }

    &:hover {
      text-decoration: none;
      color: $light-text-color;
      background: $galette-blue;
      border-bottom: 1px solid transparent;
    }

  }
}

/** pagination */
.pagination {
  text-align: center;

  > * {
    display: inline-block;
  }

  a {
    border: 1px solid #98dbcc;
    padding: .5em 1em;
    background: #f6f5f4;
    color: $background-color;

    &:hover {
      background: #fff;
      text-decoration: none;
    }

    &.prev {
      margin-right: .5em;
      text-align: left;

      &:before {
        margin-right: .2em;
        content: '«';
      }
    }

    &.next {
      margin-left: .5em;
      text-align: right;
      &:after {
        margin-left: .2em;
        content: '»';
      }
    }
  }
}

/** Navigate beetween posts */
.posts-navigation {
  margin-top: 1em;
  border-top: 1px solid $galette-orange;
  text-align: center;

  a {
    color: $galette-light-grey;
  }
}

aside#sidebar {
  grid-column: 2;
  grid-row: 2;
  background: #fff;
  border-top: 1px solid $galette-orange;

  h2 {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(242, 161, 4, 0.5);

    border-bottom: 1px $background-color dotted;
    color: $background-color;
  }

  h3 {
    color: $text-color;
    margin: 1em 0 .5em;
  }

  ul {
    list-style: none;
    margin: 0em 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 0;

    a {
      color: $text-color;
      display: block;
      text-decoration: none;
      padding: .2em .3em;

      &:hover, &:focus, &:active {
        color: $action-color;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .main-menu li.active a {
    border-bottom: 1px solid $galette-orange;
  }
}

/** main footer */
body > footer {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: .5em;

  a {
    color: rgba(255, 255, 255, 0.7);
    padding: .1em;

    &:hover {
      text-decoration: none;
      /*background-color: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.7);*/
    }
  }

  clear: both;
  text-align: center;
}

@media screen and (min-width: $galette-large) {
  $galette-left-pcontent: 0 1em !default;
  body > section.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
    row-gap: 10px;
    border-radius: 6px;

    > header {
      flex-wrap: nowrap;
      padding: $galette-left-pcontent;
    }
  }

  body > header:first-child {
    h1 {
      margin: 0;
      padding-top: .6em;
      position: relative;
      z-index: 1;
    }
  }

  aside#sidebar {
    border-top: none;
  }

  section#content {
    padding: $galette-left-pcontent;
    z-index: 2;
  }
}

/* End of layout.scss */

/** _toc.scss
    ========================================================================== */

/** TOC style */
section#content {

  h4.toc {
    display: block;
    border: none;
    margin-bottom: 0;
  }

  .post-content .section-nav {
    min-width: 20em;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        background: rgba(0, 0, 0, 0.1);
        color: $text-color;
        display: block;
        text-decoration: none;
        padding: .2em .3em;

        &:before {
          content: '\204D';
          padding-right: .5em;
        }

        &:hover, &:focus, &:active {
          color: white;
          background: $galette-blue;
        }
      }
    }

    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;

      li {
        a {
          padding-left: 1em;
        }
      }
    }
  }
}

/* End of toc.scss */

/** _mobilemenu.scss
    ========================================================================== */

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;

  position: absolute;
  top: 0em;
  left: 0em;
  fill: white;
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $galette-orange;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  font-size: 1.2em;
  background: $text-color;
}

.main-menu ul {
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
  -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
  box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
}

aside#sidebar .main-menu li a {
  color: #fff;
  padding: 5vw 15vw;
  border-bottom: 1px solid $galette-dark-orange;

  &:hover {
    color: $galette-orange;
  }
}

.main-menu a:hover,
.main-menu a:focus {
  background: rgba(0, 0, 0, 0.4);
}

.main-menu .menu-close {
  color: white;
  display: block;

  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
  }

  span[aria-hidden] {
    display:block;
    text-align: center;
    padding: .2em;
    font-size: 40px;
  }
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could use `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0,.75);
  cursor: default;
}

/** Hide std menu title */
.mainmnulnk {
  display: none;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}


@media screen and (min-width: $galette-large) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
    font-size: 1em;
    background: none;
  }

  aside#sidebar .main-menu li a {
    color: $text-color;
    padding: .2em .3em;
    border-bottom: none;

    &:hover {
      color: $galette-blue;
    }

  }

  .main-menu ul {
    box-shadow: none;
    padding: .5em 1em;
  }

  .mainmnulnk {
    display: block;
  }
}

/* End of _mobilemenu.scss */

/** _home.scss
    ========================================================================== */

/** Homepage style */

@media screen and (min-width: $galette-large) {
  #home {
    figure {
      margin: .3em;
    }

    > div {
      display: flex;

      ul {
        margin: auto;;
        min-width: 40%;
      }
    }

    div:last-child {
      flex-direction: row-reverse;
    }
  }
}

/* End of _home.scss */

/** _share.scss
    ========================================================================== */

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

ul.share-buttons li{
  display: inline-block;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 16px;
}
